<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect("/")
}%>

<%- messages() %>

<form class="border" action="/account/login" method="post">
    <label>Email: <input type="email" name="account_email" required></label>
    <label>Password: <input type="password" name="account_password" required
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
    <input type="submit" value="Login">
    <p>No account? <a href="../account/register">Sign-up</a></p>
</form>