<% if (title) {%>
    <h1><%= title %></h1>
<% } else {
    res.redirect("/")
}%>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>



<form class="border" action="/account/register" method="post">
    <label>First Name:<input type="text" name="account_firstname" required></label>
    <label>Last Name:<input type="text" name="account_lastname" required></label>
    <label>Email:<input type="email" name="account_email" required></label>
    <label>Password:<input type="password" name="account_password" required
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
    <div>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a
        capital letter, and one must be a non-alphanumeric character.</div>
    <input type="submit" value="Register">
</form>