<header id="top-header" class="flex">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (locals.cookies && locals.cookies.jwt){ %>
            <a title="Click to view account" href="/account/">My Account</a>
            <a title="Click to log out" href="/account/logout">Log Out</a>
        <% }else { %>
            <a title="Click to log in" href="/account/login">Log In</a>
        <% }%>

    </div>
</header>
