<h1>Welcome to CSE Motors</h1>

<div id="car">
    <img class="border" src="images/vehicles/delorean.jpg" alt="Delorean">
    <div id="car-text">
        <h2>DMC Delorean</h2>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice</p>
        <img src="images/site/own_today.png" alt="Own Today">
    </div>
</div>

<div class="flex">
    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <ul class="flex">
            <li class="border">
                <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <a href="#">Flux Capacitor</a>
            </li>
            <li class="border">
                <img src="images/upgrades/flame.jpg" alt="Flame">
                <a href="#">Flame Decals</a>
            </li>
            <li class="border">
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                <a href="#">Bumper Stickers</a>
            </li>
            <li class="border">
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Cap">
                <a href="#">Hub Caps</a>
            </li>
        </ul>
    </div>

    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <p>"So fast it's almost like traveling in time." (4/5)</p>
        <p>"Coolest ride on the road." (4/5)</p>
        <p>"I'm feeling McFly!" (5/5)</p>
        <p>"The most futuristic ride of our day." (4.5/5)</p>
        <p>"80's livin and I love it!" (5/5)</p>
    </div>
</div>