@media screen and (max-width: 800px){
    :root {
        --border_radius: 1%;
    }
    body {
        width: 95%;
        margin: 1em auto;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    #car {
        position: static;
        width: 70%;
    }
    #car img {
        position: static;
        width: 100%;
        height: auto;
        border-radius: var(--border_radius);
    }

    #car-text {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        background-color: transparent;
        border-radius: var(--border_radius);
        padding: 10px 20px;
    }

    #car-text img {
        width: 50%;
        margin: auto;
    }

    .detail {
        display: block;
    }

    .detail .text {
        width: auto;
    }

    .detail .img {
        width: auto;
    }

    form {
        width: 90%;
    }
    form input{
        width: 100%
    }
}