/******* Change Box Model ***************/
:root {
  --color_page: #EADFD7;
  --color_text: #1a1814;
  --color_accent: #CC746C;
  --color_nav: #70C1D0;

  --border_radius: 5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-image: url("/images/site/checkerboard.jpg");
  color: var(--color_text);
  font-family: "allan", "arial";
}

body {
  background-color: var(--color_page);
  width: 70%;
  margin: 3em auto;
  text-align: center;
}

.border {
  border: 5px solid var(--color_accent);
  border-radius: var(--border_radius);
  font-size: 1.2em;
}

h1, h2, #top-header {
  font-family: "quintessential", "times new roman";

}

h1, .siteName {
  font-size: 2em;
}

.flex {
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
}

#top-header a {
  text-decoration: none;
  color: var(--color_text);
  padding: 2em;
}

nav {
  background-color: var(--color_nav);
  font-size: 1.2em;
  text-decoration: underline;
}

li {
  list-style: none;
}


#car {
  position: relative;
  display: inline-block;
  width: 70%;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--border_radius);
  }
}

#car-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 70%);
  border-radius: var(--border_radius);
  padding: 10px 20px;
}

#upgrades {
  ul {
    padding: 0;
  }

  li {
    margin: 1em;
    background-color: var(--color_nav);
  }

  img {
    display: block;
    margin: 1em;
  }

  a {
    margin: 1em;
    color: var(--color_text);
  }
}


